
/* Estilo para las celdas al pasar el cursor */
.table-row-cell:hover {
    -fx-background-color: #F68712; /* Naranja */
}

/* Estilo para el texto de las celdas al pasar el cursor */
.table-row-cell:hover .table-cell {
    -fx-text-fill: white; /* Cambia el color del texto a blanco */
    -fx-font-weight: bold; /* Hace el texto más grueso */
}

/* Estilo para las celdas seleccionadas */
.table-row-cell:selected {
    -fx-background-color: #5A956B; /* Verde más oscuro */
}

/* Estilo para el encabezado de la TableView */
.table-view .column-header-background {
    -fx-background-color: #FFD699; /* Naranja pálido */
}

/* Estilo para el texto del encabezado de la TableView */
.table-view .column-header {
    -fx-text-fill: white; /* Color del texto en blanco */
    -fx-font-weight: bold; /* Hace el texto más grueso */
}



/* Estilo para el pulgar de la barra de desplazamiento horizontal (thumb) */
.scroll-bar:horizontal .thumb {
    -fx-background-color: #FFA500; /* Naranja más claro */
}

.button-regresar {
    -fx-background-color: DD880B; 
    -fx-text-fill: #000000; /* Color del texto negro */
}



/* Estilo para el botón de regresar al pasar el cursor */
.button-regresar:hover {
    -fx-background-color: #C9FFC2; /* Color de fondo verde lima */
    -fx-effect: dropshadow( gaussian , #8EF68A , 5,0,0,1 ); /* Efecto de sombra verde lima al pasar el cursor */
}

.menu-bar {
    -fx-background-color: transparent; /* Hacemos el fondo transparente */
}

/* Estilo para los elementos del menú al pasar el cursor */
.menu-item:hover {
    -fx-background-color: #FFD699; /* Color de fondo naranja claro */
}

/* Estilo para el texto de los elementos del menú al pasar el cursor */
.menu-item:hover  {
    -fx-text-fill: white; /* Color del texto en blanco */
    -fx-font-weight: bold; /* Hace el texto más grueso */
}

/* Estilo para el elemento seleccionado del menú al pasar el cursor */
.menu-item:selected:hover {
    -fx-background-color: #FFD699; /* Color de fondo naranja claro */
}

.menuItem:hover{
    -fx-border-color:  #EF8E00;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-font-weight: BOLD; /* Hace el texto más grueso */
}

.label:hover{
    -fx-border-color:  #EF8E00;
    -fx-border-width: 0px 0px 3px 0px;
    
}


.sidebarItem:hover{
    -fx-background-color:  #EF8E00;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.root{
    -fx-background-radius: 10px;
}

.stack-pane{
    -fx-background-radius: 10px;
}

